# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Drizzle
DATABASE_URL=postgresql://postgres.USER:PASSWORD@HOST:5432/postgres

# Legacy API
NEXT_PUBLIC_BASE_URL=https://intelliq-be-s1.azurewebsites.net/

# OpenAI
OPENAI_API_KEY=
GPT_MODEL=

# AWS
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

# Upstash Redis
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
